<div class="container">
    <div class="row search-row">
        <div class="col-sm-12 col-lg-5">
            <div class="form-group">
                <label>Sort by topics:</label><br>
                <input type="text" class="form-control-lg" id="enter-topics" style="width:445px; height:38px"></div>
            <button type="submit" class="btn btn-primary" id="search-topics">Search</button>
        </div>
        <div class="col-sm-12 col-lg-2" style="text-align:center; padding-top:40px; padding-bottom:40px;">OR</div>
        <div class="col-sm-12 col-lg-5">
            <div class="form-group">
                <label>Sort by categories:</label>
                <select class="form-control" id="select-categories">
                    <option></option>
                    <option>AJAX</option>
                    <option>API</option>
                    <option>CSS</option>
                    <option>Debugging</option>
                    <option>Express</option>
                    <option>Git</option>
                    <option>Handlebars</option>
                    <option>Heroku</option>
                    <option>HTML</option>
                    <option>JavaScript</option>
                    <option>jQuery</option>
                    <option>Local Storage</option>
                    <option>MVC</option>
                    <option>MySQL</option>
                    <option>Node</option>
                    <option>Sequelize</option>
                    <option>Testing</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" id="search-categories">Search</button>
        </div>
    </div>
    <div class="container container-main">
        <div class="row" id="libraryEntries">
        </div>
        <div class="row" id="newPostMsg">
        </div>
    </div>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script>
    $("#add-new").on("click", function (event) {
        event.preventDefault();
        $(".add-newcategory").show();
    });
</script>