<div class="container" style="padding-top: 150px">
  <nav class="navbar nav-note">
    <a class="navbar-brand nav-brand-note">NotePad
    </a>
    <div class="icons">
      <i class="fas fa-save text-dark save-note"></i>
      <i class="fas fa-pen text-dark new-note"></i>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 list-container">
        <div class="card note-card">
          <ul class="list-group">
          </ul>
        </div>
      </div>
      <div class="col-8 note-text">
        <input class="note-title" placeholder="Note Title" maxlength="28" type="text">
        <textarea class="note-textarea" placeholder="Note Text"></textarea>
      </div>
    </div>
  </div>
</div>